.pd-none {
  padding: 0;
}

.pd-none-l {
  padding-left: 0;
}

.pd-none-r {
  padding-right: 0;
}

.pd-none-b {
  padding-bottom: 0;
}

.pd-none-t {
  padding-top: 0;
}

.pd-none-h {
  padding-left: 0;
  padding-right: 0;
}

.pd-none-v {
  padding-top: 0;
  padding-bottom: 0;
}

.mg-none {
  margin: 0;
}

.pd-none-t {
  margin-top: 0;
}

.pd-none-b {
  margin-bottom: 0;
}

.pd-none-l {
  margin-left: 0;
}

.pd-none-r {
  margin-right: 0;
}

.pd-none-v {
  margin-right: 0;
  margin-left: 0;
}

.pd-none-h {
  margin-top: 0;
  margin-bottom: 0;
}

.pd-xs {
  padding: 5px;
}

.pd-xs-l {
  padding-left: 5px;
}

.pd-xs-r {
  padding-right: 5px;
}

.pd-xs-b {
  padding-bottom: 5px;
}

.pd-xs-t {
  padding-top: 5px;
}

.pd-xs-h {
  padding-left: 5px;
  padding-right: 5px;
}

.pd-xs-v {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mg-xs {
  margin: 5px;
}

.pd-xs-t {
  margin-top: 5px;
}

.pd-xs-b {
  margin-bottom: 5px;
}

.pd-xs-l {
  margin-left: 5px;
}

.pd-xs-r {
  margin-right: 5px;
}

.pd-xs-v {
  margin-right: 5px;
  margin-left: 5px;
}

.pd-xs-h {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pd-sm {
  padding: 10px;
}

.pd-sm-l {
  padding-left: 10px;
}

.pd-sm-r {
  padding-right: 10px;
}

.pd-sm-b {
  padding-bottom: 10px;
}

.pd-sm-t {
  padding-top: 10px;
}

.pd-sm-h {
  padding-left: 10px;
  padding-right: 10px;
}

.pd-sm-v {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mg-sm {
  margin: 10px;
}

.pd-sm-t {
  margin-top: 10px;
}

.pd-sm-b {
  margin-bottom: 10px;
}

.pd-sm-l {
  margin-left: 10px;
}

.pd-sm-r {
  margin-right: 10px;
}

.pd-sm-v {
  margin-right: 10px;
  margin-left: 10px;
}

.pd-sm-h {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pd-md {
  padding: 15px;
}

.pd-md-l {
  padding-left: 15px;
}

.pd-md-r {
  padding-right: 15px;
}

.pd-md-b {
  padding-bottom: 15px;
}

.pd-md-t {
  padding-top: 15px;
}

.pd-md-h {
  padding-left: 15px;
  padding-right: 15px;
}

.pd-md-v {
  padding-top: 15px;
  padding-bottom: 15px;
}

.mg-md {
  margin: 15px;
}

.pd-md-t {
  margin-top: 15px;
}

.pd-md-b {
  margin-bottom: 15px;
}

.pd-md-l {
  margin-left: 15px;
}

.pd-md-r {
  margin-right: 15px;
}

.pd-md-v {
  margin-right: 15px;
  margin-left: 15px;
}

.pd-md-h {
  margin-top: 15px;
  margin-bottom: 15px;
}

.pd-lg {
  padding: 20px;
}

.pd-lg-l {
  padding-left: 20px;
}

.pd-lg-r {
  padding-right: 20px;
}

.pd-lg-b {
  padding-bottom: 20px;
}

.pd-lg-t {
  padding-top: 20px;
}

.pd-lg-h {
  padding-left: 20px;
  padding-right: 20px;
}

.pd-lg-v {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mg-lg {
  margin: 20px;
}

.pd-lg-t {
  margin-top: 20px;
}

.pd-lg-b {
  margin-bottom: 20px;
}

.pd-lg-l {
  margin-left: 20px;
}

.pd-lg-r {
  margin-right: 20px;
}

.pd-lg-v {
  margin-right: 20px;
  margin-left: 20px;
}

.pd-lg-h {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pd-xlg {
  padding: 40px;
}

.pd-xlg-l {
  padding-left: 40px;
}

.pd-xlg-r {
  padding-right: 40px;
}

.pd-xlg-b {
  padding-bottom: 40px;
}

.pd-xlg-t {
  padding-top: 40px;
}

.pd-xlg-h {
  padding-left: 40px;
  padding-right: 40px;
}

.pd-xlg-v {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mg-xlg {
  margin: 40px;
}

.pd-xlg-t {
  margin-top: 40px;
}

.pd-xlg-b {
  margin-bottom: 40px;
}

.pd-xlg-l {
  margin-left: 40px;
}

.pd-xlg-r {
  margin-right: 40px;
}

.pd-xlg-v {
  margin-right: 40px;
  margin-left: 40px;
}

.pd-xlg-h {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pd-xxlg {
  padding: 60px;
}

.pd-xxlg-l {
  padding-left: 60px;
}

.pd-xxlg-r {
  padding-right: 60px;
}

.pd-xxlg-b {
  padding-bottom: 60px;
}

.pd-xxlg-t {
  padding-top: 60px;
}

.pd-xxlg-h {
  padding-left: 60px;
  padding-right: 60px;
}

.pd-xxlg-v {
  padding-top: 60px;
  padding-bottom: 60px;
}

.mg-xxlg {
  margin: 60px;
}

.pd-xxlg-t {
  margin-top: 60px;
}

.pd-xxlg-b {
  margin-bottom: 60px;
}

.pd-xxlg-l {
  margin-left: 60px;
}

.pd-xxlg-r {
  margin-right: 60px;
}

.pd-xxlg-v {
  margin-right: 60px;
  margin-left: 60px;
}

.pd-xxlg-h {
  margin-top: 60px;
  margin-bottom: 60px;
}

.bg-theme-primary {
  background: #1d2129;
}

.text-theme-primary {
  color: #1d2129;
}

.bg-theme-dark {
  background: #222;
}

.text-theme-dark {
  color: #222;
}

.bg-theme-light-dark {
  background: #292d35;
}

.text-theme-light-dark {
  color: #292d35;
}

.bg-theme-secondary {
  background: #ff5f66;
}

.text-theme-secondary {
  color: #ff5f66;
}

body {
  height: 100%;
  background-color: #222;
}

body.home {
  background: #292d35 !important;
}
body.home #grid {
  padding-bottom: 50px;
}
body.home .full {
  margin-bottom: 0px !important;
}

.btn-full {
  background-color: #ff5f66 !important;
  border: none;
  height: 60px;
}

.full {
  margin-bottom: 50px;
}

a:hover {
  text-decoration: none;
}

.text-white {
  color: white;
}

.btn-full {
  width: 100%;
}

.hide {
  display: none;
}

.btn-background-secondary {
  color: white;
  background-color: #ff5f66;
}
.btn-background-secondary:hover {
  color: white;
  background-color: #ff2932;
}

.img-gallery {
  cursor: pointer;
}

#categories ul {
  padding: 0 !important;
}
#categories ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#categories ul li a {
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  font-size: 12px;
}

.nav-link {
  color: white;
}
.nav-link.active {
  color: #ff5f66;
}

#grid {
  background: #222;
}
#grid .search {
  background: transparent;
  max-width: 400px;
  min-width: 400px;
  color: white;
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0.4);
}
.dropdown-menu .dropdown-item {
  color: white;
}
.dropdown-menu .dropdown-item:hover {
  background: rgba(0, 0, 0, 0.2);
}

#dropdown-user-line .dropdown-menu {
  background: rgba(0, 0, 0, 0.8) !important;
  min-width: 260px;
  left: -100px;
}

.custom-form-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-form-check input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom-form-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-form-check input:checked ~ .checkmark {
  background-color: #ff5f66;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-form-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-form-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=radio] {
  -webkit-appearance: none;
  border: none;
  margin-top: 0.3rem !important;
}

input[type=radio]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type=radio]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ff5f66;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

#preferences .nav-tabs {
  background: #292d35;
  border-bottom: 1px solid #3e4246 !important;
}
#preferences .nav-tabs .nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0;
}
#preferences .nav-tabs .nav-link.active {
  background: #ff5f66 !important;
  color: white !important;
  border: none;
}
#preferences .tab-content {
  background: #292d35;
  padding: 35px;
}
#preferences .tab-content input[type=text], #preferences .tab-content input[type=password] {
  background: transparent;
  height: 60px;
  color: #e0e0e0;
}
#preferences .tab-content textarea {
  background: transparent;
  color: #e0e0e0;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
}
#preferences .tab-content h3 {
  padding-bottom: 30px;
  color: #ff5f66;
}
#preferences .tab-content table {
  color: white;
}
#preferences .btn-container {
  text-align: center;
  padding-top: 40px;
}
#preferences .btn-container button {
  color: white;
  width: 80%;
}

a:hover {
  color: #ff5f66;
}

.content {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px;
}
.content .col-lg-2 {
  padding-right: 3px !important;
  padding-left: 3px !important;
}
.content .col-sm-6 {
  padding-right: 3px !important;
  padding-left: 3px !important;
}
.content .thumb-link {
  color: white;
}
.content .thumb {
  margin-top: 6px !important;
  border-radius: 0px;
}
.content .thumb .img-thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
  border-radius: 0px !important;
}
.content .thumb .thumb-content {
  width: 100%;
  height: 50px;
  font-size: 12px !important;
  background: #292929;
  padding: 5px 5px 5px 5px;
}
.content .thumb .thumb-content .top .name {
  font-weight: 900 !important;
  font-size: 14px;
}
.content .thumb .thumb-content .top .online i {
  color: #03b503;
}
.content .thumb .thumb-content .top .offline i {
  color: red;
}
.content .thumb .thumb-content .down {
  margin-top: 2px;
  color: #ccc9c9;
}

.live-show {
  background: #222;
}
@media (min-width: 768px) {
  .live-show .container {
    max-width: 1630px;
  }
}
@media (max-width: 767px) {
  .live-show .container {
    max-width: 1230px;
  }
}
.live-show .live-show-container {
  margin-top: 15px;
}
.live-show .live-show-container .live-video {
  background: black;
  border: none;
}
.live-show .live-show-container .live-chat {
  padding-left: 4px;
}
.live-show .live-show-container .live-chat ul {
  list-style-type: none;
  padding: 0;
}
.live-show .live-show-container .live-chat .model {
  width: 100%;
  height: 155px;
  margin-bottom: 4px;
}
.live-show .live-show-container .live-chat .model .model-link {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.live-show .profile-body {
  margin-top: 20px;
  margin-bottom: 20px;
}
.live-show .profile-body .name {
  margin-right: 5px;
  color: #ff5f66 !important;
}
.live-show .profile-body .card {
  padding: 25px;
  margin-bottom: 5px;
  margin-left: 3px;
}
.live-show .profile-body .profile-image {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}
.live-show .profile-body .rates {
  display: inline-block;
  margin-top: 40px;
}
.live-show .profile-body .rates .active {
  color: yellow;
}
.live-show .profile-body .profile-description {
  margin-top: 20px;
}
.live-show .profile-body .card {
  background: #292d35;
  border: none;
}
.live-show .profile-content .nav-tabs {
  border-bottom: none;
}
.live-show .profile-content .nav {
  font-size: 15px;
}
.live-show .profile-content .nav .nav-link {
  padding: 9px 20px 0px 11px;
}
.live-show .profile-content .nav .nav-link:focus {
  border: none;
}
.live-show .profile-content .nav .nav-link:hover {
  border: none;
}
.live-show .profile-content .nav .active {
  background: transparent;
  border: none;
  color: #ff5f66 !important;
}
.live-show .profile-content #tab-content-header {
  margin-bottom: 30px;
}
.live-show .profile-content #tab-content-body {
  margin-top: 10px;
}
.live-show .profile-content #tab-content-body .tab-pane {
  padding: 0px 20px 0px 0px;
}
.live-show gallery-list.col-md-12,
.live-show .gallery-list.col-md-6,
.live-show .gallery-list.col-md-4,
.live-show .gallery-list.col-md-3,
.live-show .gallery-list.col-md-2,
.live-show .gallery-list.col-md-1 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.live-show .image-grid {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  background-color: #fff;
  overflow: hidden;
}
.live-show .image-grid * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.live-show .image-grid img {
  width: 100%;
  height: auto;
  transform: scale(3);
}
.live-show .image-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.live-show .image-grid p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.live-show .image-grid a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.live-show .image-grid:hover > img,
.live-show .image-grid.hover > img {
  opacity: 0.1;
}
.live-show .image-grid:hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.live-show .js-modal-image {
  max-width: 100%;
}
.live-show .modal-body {
  padding: 0;
}
.live-show .modal-open .modal {
  padding-top: 26vh;
  background-color: transparent;
}
@media (max-width: 992px) {
  .live-show .modal-open .modal {
    padding-top: 100px;
  }
  .live-show .image-grid {
    width: 100%;
    height: 180px;
  }
}
@media (max-width: 768px) {
  .live-show .gallery.container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .live-show .gallery-list.col-md-12,
.live-show .gallery-list.col-md-6,
.live-show .gallery-list.col-md-4,
.live-show .gallery-list.col-md-3,
.live-show .gallery-list.col-md-2,
.live-show .gallery-list.col-md-1 {
    padding-left: 0;
    padding-right: 0;
  }
  .live-show .gallery-row.row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .live-show .gallery-row.row.pdtb-40 {
    padding-top: 10px;
  }
  .live-show .horizontal-nav {
    margin-bottom: 0;
  }
  .live-show .modal-open .modal {
    padding-top: 30vh;
  }
}
.live-show .grid-responsive {
  -webkit-column-count: 4;
  -webkit-column-gap: 5px;
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  column-count: 4;
  column-gap: 5px;
}
.live-show .grid-responsive img {
  line-height: 0;
  /* Just in case there are inline attributes */
  margin-bottom: 5px;
  border: 0 !important;
}
@media (max-width: 768px) {
  .live-show .grid-responsive {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

.modal-lg {
  max-width: 65% !important;
}

.modal-backdrop {
  opacity: 0.8 !important;
}

#modal-login .modal-header {
  border-bottom: 1px solid #3e3e3e;
}
#modal-login .modal-body {
  padding: 61px 27px 73px 27px;
}
#modal-login .modal-content {
  color: white;
  background-color: #292d35;
}
#modal-login h3 {
  color: #ff5f66;
}
#modal-login a {
  color: #ff5f66;
}
#modal-login input {
  background: transparent;
  height: 60px;
  border: 1px solid #7b7b7b;
  color: #e0e0e0;
}
#modal-login .login-footer {
  margin-top: 20px;
}

#modal-sign-up .sign-up-content {
  padding: 45px 0px 30px 20px;
}
#modal-sign-up .modal-header {
  border-bottom: 1px solid #3e3e3e;
}
#modal-sign-up .terms {
  font-size: 12px;
}
#modal-sign-up .benefits p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
}
#modal-sign-up .benefits p i {
  font-size: 28px;
  margin-left: 2px;
}
#modal-sign-up .modal-content {
  color: white;
  background-color: #292d35;
}
#modal-sign-up h1, #modal-sign-up h2, #modal-sign-up h3, #modal-sign-up h4 {
  color: #ff5f66;
  margin-bottom: 20px;
}
#modal-sign-up a {
  color: #ff5f66;
}
#modal-sign-up input {
  background: transparent;
  height: 60px;
  border: 1px solid #7b7b7b;
  color: #e0e0e0;
}
#modal-sign-up .btn-full {
  background-color: #ff5f66 !important;
  border: none;
  height: 60px;
}
#modal-sign-up .login-footer {
  margin-top: 20px;
}

.form-wizard {
  margin-top: 50px !important;
  border: 1px solid transparent !important;
}
.form-wizard .title h1 {
  font-weight: 300;
}
.form-wizard .title h2 {
  font-weight: 300;
}
.form-wizard .title hr {
  background: #3e4246;
}
.form-wizard .title h5 {
  margin-top: 30px;
  font-weight: 300;
}
.form-wizard .title {
  font-weight: 300;
}
.form-wizard .plans {
  margin-top: 30px;
}
.form-wizard .plans .card.active {
  background: #ff5f66;
}
.form-wizard .plans .card.active i {
  color: white;
}
.form-wizard .plans .card.active .credits {
  color: #222;
}
.form-wizard .plans .card.active button {
  background: #222;
}
.form-wizard .plans .card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  background: #222;
}
.form-wizard .plans .card .card-header {
  padding: 15px 0 0 0 !important;
}
.form-wizard .plans .card .bonus {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 33px;
}
.form-wizard .plans .card .bonus span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}
.form-wizard .plans .card .credits {
  padding-top: 40px;
  color: #ff5f66;
  line-height: 18px;
  font-size: 55px;
  font-weight: 700;
}
.form-wizard .plans .card .credits span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}
.form-wizard .plans .card .price {
  font-size: 12px;
  margin-bottom: 40px;
}
.form-wizard .plans .card button {
  border: none;
  height: 50px;
  background-color: #ff5f66;
}
.form-wizard .nav-tabs {
  border-bottom: 1px solid #3e4246 !important;
}
.form-wizard .nav-tabs li.done a {
  background: #494d56 !important;
  color: #bbb !important;
}
.form-wizard .nav-tabs li.done a:after {
  background: transparent !important;
  border-left: 30px solid #494d56 !important;
}
.form-wizard .step-anchor {
  background: #292d35 !important;
}
.form-wizard .step-anchor li a {
  background: transparent !important;
  padding: 15px 14px 15px 45px !important;
}
.form-wizard .step-anchor li a:after {
  border-left: 30px solid #292d35 !important;
}
.form-wizard .step-anchor li a:before {
  border-left: 30px solid #3e4246 !important;
}
.form-wizard .step-anchor .active a {
  background: #ff5f66 !important;
  color: white !important;
}
.form-wizard .step-anchor .active a:after {
  border-left: 30px solid #ff5f66 !important;
}
.form-wizard .step-content {
  background: #292d35 !important;
  padding: 30px !important;
}
.form-wizard .step-content input {
  background: transparent;
  height: 60px;
  border: 1px solid #7b7b7b;
  color: #e0e0e0;
}
.form-wizard .step-content select {
  background: transparent;
  height: 60px;
  border: 1px solid #7b7b7b;
  color: #e0e0e0;
}
.form-wizard .step-content input[type=radio] {
  background: transparent;
  height: 18px;
  color: #e0e0e0;
}
.form-wizard .sw-toolbar {
  padding: 20px 20px 20px 0;
  background: #292d35 !important;
  border-top: 1px solid #3e4246;
}
.form-wizard .sw-toolbar .btn {
  height: 60px;
}
.form-wizard h2 {
  font-weight: 300;
  margin-bottom: 20px;
}
.form-wizard hr {
  background: #3e4246;
}
.form-wizard h5 {
  margin-top: 30px;
  font-weight: 300;
}
.form-wizard .card-container small {
  font-weight: 100;
}
.form-wizard .account-model-type i {
  color: #ff5f66;
  font-size: 70px;
  margin-bottom: 20px;
}
.form-wizard .account-model-type p {
  font-size: 14px;
  margin-bottom: 5px;
}
.form-wizard .account-model-type button {
  margin-top: 10px;
}

/**
FOOTER STYLE
 */
footer {
  color: rgba(255, 255, 255, 0.7);
  background: #292d35;
}
footer .border-right {
  border-right: 1px solid #404650 !important;
}
footer .row {
  padding: 40px 20px 0px 20px;
  margin: 0;
}
footer .site-info p {
  font-size: 15px;
  margin-top: 40px;
}
footer h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li a {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}
footer .language ul {
  display: inline-block;
  margin-right: 30px;
}

.full-footer {
  margin-top: 40px;
  padding: 15px 0 15px 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  text-align: center;
  background: #222;
}

/**
SIDEBAR MENU STYLES
 */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.wrapper .sidebar-header {
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 5px;
}

#content {
  width: 100%;
}

.toggle-sidebar {
  float: left;
}

#sidebar {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  margin-left: -300px;
  transition: all 0.3s;
}
#sidebar ul {
  padding: 0 !important;
}
#sidebar ul li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#sidebar ul li a {
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  font-size: 12px;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.sidebar-fixed {
  position: relative;
  height: 100vh !important;
}

.sidebar-fixed {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35) !important;
}

#sidebar.active {
  margin-left: 0;
}

#modal-gallery img {
  width: 100%;
}
#modal-gallery .modal-content i {
  font-size: 50px;
  color: #848484;
}

#messages {
  margin-top: 40px;
}
#messages .mesgs {
  background: #292d35;
  float: left;
  padding: 30px 15px 7px 25px;
  width: 60%;
}
#messages .active_chat p {
  color: white !important;
}
#messages .sent_msg p {
  background: #ff5f66;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
#messages img {
  max-width: 100%;
}
#messages .inbox_people {
  background: #292d35 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #3e4246;
}
#messages .inbox_msg {
  clear: both;
  overflow: hidden;
}
#messages .top_spac {
  margin: 20px 0 0;
}
#messages .recent_heading {
  float: left;
  width: 40%;
}
#messages .srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
#messages .headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #3e4246;
}
#messages .recent_heading h4 {
  color: #ff5f66;
  font-size: 21px;
  margin: auto;
}
#messages .srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
  color: white;
}
#messages .srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
#messages .srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}
#messages .chat_ib h5 {
  font-size: 15px;
  color: white;
  margin: 0 0 8px 0;
}
#messages .chat_ib h5 span {
  font-size: 13px;
  float: right;
}
#messages .chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}
#messages .chat_img {
  float: left;
  width: 11%;
}
#messages .chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}
#messages .chat_people {
  overflow: hidden;
  clear: both;
}
#messages .chat_list {
  border-bottom: 1px solid #3e4246;
  margin: 0;
  padding: 18px 16px 10px;
}
#messages .chat_list:hover {
  cursor: pointer;
  background: #ff5f66;
}
#messages .chat_list:hover p {
  color: white;
}
#messages .inbox_chat {
  height: 550px;
  overflow-y: scroll;
}
#messages .active_chat {
  background: #ff5f66;
}
#messages .incoming_msg_img {
  display: inline-block;
  width: 6%;
}
#messages .received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
#messages .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
#messages .time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
#messages .received_withd_msg {
  width: 57%;
}
#messages .outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}
#messages .sent_msg {
  float: right;
  width: 46%;
}
#messages .input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: white;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}
#messages .type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
#messages .msg_send_btn {
  background: #ff5f66 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
#messages .messaging {
  padding: 0 0 50px 0;
}
#messages .msg_history {
  height: 516px;
  overflow-y: auto;
}

.sidebar-profile {
  text-align: center;
}
.sidebar-profile .profile-image {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}
.sidebar-profile p.name {
  font-size: 20px;
  color: #ff5f66;
  line-height: 1px;
  margin-top: 20px;
}
.sidebar-profile p.description {
  line-height: 3px;
  color: white;
  font-size: 12px;
}

/*# sourceMappingURL=custom.css.map */
