$colors: (
        theme-primary: #1d2129,
        theme-dark: #222,
        theme-light-dark: #292d35,
        theme-secondary: #ff5f66,
);

$sides: (l:left, r:right, t:top, b:bottom);
$spacings: (none: 0, xs: 5px, sm: 10px, md: 15px, lg: 20px, xlg: 40px, xxlg: 60px);

@each $key, $spacing in $spacings {
  .pd-#{$key} {
    padding: $spacing
  }
  .pd-#{$key}-l {
    padding-left: $spacing
  }
  .pd-#{$key}-r {
    padding-right: $spacing
  }
  .pd-#{$key}-b {
    padding-bottom: $spacing
  }
  .pd-#{$key}-t {
    padding-top: $spacing
  }
  .pd-#{$key}-h {
    padding-left: $spacing;
    padding-right: $spacing;
  }
  .pd-#{$key}-v {
    padding-top: $spacing;
    padding-bottom: $spacing;
  }

  .mg-#{$key} {
    margin: $spacing
  }
  .pd-#{$key}-t {
    margin-top: $spacing
  }
  .pd-#{$key}-b {
    margin-bottom: $spacing
  }
  .pd-#{$key}-l {
    margin-left: $spacing
  }
  .pd-#{$key}-r {
    margin-right: $spacing
  }
  .pd-#{$key}-v {
    margin-right: $spacing;
    margin-left: $spacing;
  }
  .pd-#{$key}-h {
    margin-top: $spacing;
    margin-bottom: $spacing;
  }
}

@each $color, $value in $colors {
  .bg-#{$color} {
    background: $value;
  }

  .text-#{$color} {
    color: $value;
  }
}

body {
  height: 100%;
  background: {
    color: map_get($colors, theme-dark);
  }
}

body.home {
  background: map_get($colors, theme-light-dark) !important;

  #grid {
    padding-bottom: 50px;
  }

  .full {
    margin-bottom: 0px !important;
  }
}

.btn-full {
  background-color: map_get($colors, theme-secondary) !important;
  border: none;
  height: 60px;
}


.full {
  margin-bottom: 50px;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.text-white {
  color: white;
}

.btn-full {
  width: 100%;
}

.hide {
  display: none;
}

.btn-background-secondary {
  color: white;
  background-color: map_get($colors, theme-secondary);

  &:hover {
    color: white;
    background-color: #ff2932;
  }
}

.img-gallery {
  cursor: pointer;
}

#categories {
  ul {
    padding: 0 !important;

    li {
      list-style: none;
      padding: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, .1);

      a {
        color: rgba(255, 255, 255, .6);
        width: 100%;
        font-size: 12px;
      }
    }
  }
}

.nav-link {
  color: white;

  &.active {
    color: map_get($colors, theme-secondary);
  }
}

#grid {
  background: map_get($colors, theme-dark);

  .search {
    background: transparent;
    max-width: 400px;
    min-width: 400px;
    color: white;
  }

}

.dropdown-menu {
  background: rgba(0, 0, 0, .4);

  .dropdown-item {
    color: white;

    &:hover {
      background: rgba(0, 0, 0, .2);
    }
  }


}

#dropdown-user-line {
  .dropdown-menu {
    background: rgba(0, 0, 0, 0.8) !important;

    min-width: 260px;
    left: -100px;
  }

}

.custom-form-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }


}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom-form-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-form-check input:checked ~ .checkmark {
  background-color: map_get($colors, theme-secondary);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-form-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-form-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


input[type=radio] {
  -webkit-appearance: none;
  border: none;
  margin-top: .3rem !important;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: map_get($colors, theme-secondary);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}


#preferences {
  .nav-tabs {
    background: map_get($colors, theme-light-dark);

    border-bottom: 1px solid #3e4246 !important;

    .nav-link {
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 0;
    }

    .nav-link.active {
      background: map_get($colors, theme-secondary) !important;
      color: white !important;
      border: none;
    }
  }

  .tab-content {
    background: map_get($colors, theme-light-dark);
    padding: 35px;

    input[type=text], input[type=password] {
      background: transparent;
      height: 60px;
      color: #e0e0e0;
    }

    textarea{
      background: transparent;
      color: #e0e0e0;
      width: 100%;
      border: 1px solid white;
      border-radius: 5px;
    }

    h3 {
      padding-bottom: 30px;
      color: map_get($colors, theme-secondary);
    }


    table {
      color: white;
    }
  }

  .btn-container {
    text-align: center;
    padding-top: 40px;

    button {
      color: white;
      width: 80%;
    }
  }


}


.navbar-toggler-icon {
  color: map_get($colors, theme-secondarys)
}

a:hover {
  color: map_get($colors, theme-secondary);
}


.content {

  padding-left: 10px !important;
  padding-right: 10px !important;

  .col-lg-2 {
    padding-right: 3px !important;
    padding-left: 3px !important;
  }

  .col-sm-6 {
    padding-right: 3px !important;
    padding-left: 3px !important;
  }

  padding-top: 10px;

  .thumb-link {
    color: white;
  }

  .thumb {
    margin-top: 6px !important;
    border-radius: 0px;

    .img-thumbnail {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 150px;
      border-radius: 0px !important;

    }

    .thumb-content {
      width: 100%;
      height: 50px;
      font-size: 12px !important;
      background: #292929;
      padding: 5px 5px 5px 5px;

      .top {
        .name {
          font-weight: 900 !important;
          font-size: 14px;
        }

        .online {
          i {
            color: #03b503;
          }
        }

        .offline {
          i {
            color: red;
          }
        }
      }

      .down {
        margin-top: 2px;
        color: #ccc9c9;
      }

    }

  }

}


.live-show {
  background: map_get($colors, theme-dark);

  @media (min-width: 768px) {
    .container {
      max-width: 1630px;
    }
  }

  @media (max-width: 767px) {
    .container {
      max-width: 1230px;
    }
  }


  .live-show-container {
    margin-top: 15px;

    .live-video {
      background: black;
      border: none;
    }

    .live-chat {
      padding-left: 4px;

      ul {
        list-style-type: none;
        padding: 0;
      }

      .model {
        width: 100%;
        height: 155px;
        margin-bottom: 4px;

        .model-link {
          display: block;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          cursor: pointer;
        }
      }
    }
  }

  .profile-body {
    margin-top: 20px;
    margin-bottom: 20px;

    .name {
      margin-right: 5px;
      color: map_get($colors, theme-secondary) !important;
    }


    .card {
      padding: 25px;
      margin-bottom: 5px;
      margin-left: 3px;
    }

    .profile-image {
      display: inline-block;
      width: 120px;
      height: 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;
    }

    .rates {
      display: inline-block;
      margin-top: 40px;

      .active {
        color: yellow;
      }
    }

    .profile-description {
      margin-top: 20px;
    }

    .card {
      background: map_get($colors, theme-light-dark);
      border: none;
    }

  }


  .profile-content {
    .nav-tabs {
      border-bottom: none;
    }

    .nav {
      font-size: 15px;

      .nav-link {
        padding: 9px 20px 0px 11px;

        &:focus {
          border: none;
        }

        &:hover {
          border: none;
        }
      }

      .active {
        background: transparent;
        border: none;
        color: map_get($colors, theme-secondary) !important;
      }

    }

    #tab-content-header {
      margin-bottom: 30px;
    }


    #tab-content-body {
      margin-top: 10px;

      .tab-pane {
        padding: 0px 20px 0px 0px;
      }

    }


  }


  gallery-list.col-md-12,
  .gallery-list.col-md-6,
  .gallery-list.col-md-4,
  .gallery-list.col-md-3,
  .gallery-list.col-md-2,
  .gallery-list.col-md-1 {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .image-grid {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    background-color: #fff;
    overflow: hidden;
  }

  .image-grid * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }

  .image-grid img {
    width: 100%;
    height: auto;
    transform: scale(3);
  }

  .image-grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image-grid p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .image-grid a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .image-grid:hover > img,
  .image-grid.hover > img {
    opacity: 0.1;
  }

  .image-grid:hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .js-modal-image {
    max-width: 100%;
  }

  .modal-body {
    padding: 0;
  }

  .modal-open .modal {
    padding-top: 26vh;
    background-color: transparent;
  }

  @media (max-width: 992px) {
    .modal-open .modal {
      padding-top: 100px;
    }

    .image-grid {
      width: 100%;
      height: 180px;
    }

  }


  @media (max-width: 768px) {
    .gallery.container {
      padding-left: 15px;
      padding-right: 15px;
    }

    .gallery-list.col-md-12,
    .gallery-list.col-md-6,
    .gallery-list.col-md-4,
    .gallery-list.col-md-3,
    .gallery-list.col-md-2,
    .gallery-list.col-md-1 {
      padding-left: 0;
      padding-right: 0;
    }

    .gallery-row.row {
      margin-left: -15px;
      margin-right: -15px;
    }

    .gallery-row.row.pdtb-40 {
      padding-top: 10px;
    }

    .horizontal-nav {
      margin-bottom: 0;
    }

    .modal-open .modal {
      padding-top: 30vh;
    }

  }

  .grid-responsive {
    -webkit-column-count: 4;
    -webkit-column-gap: 5px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 5px;
  }

  .grid-responsive {
    img {
      line-height: 0;
      /* Just in case there are inline attributes */
      margin-bottom: 5px;
      border: 0 !important;
    }

  }

  @media(max-width: 768px) {
    .grid-responsive {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
  }

}

.modal-lg {
  max-width: 65% !important;
}

.modal-backdrop {
  opacity: 0.8 !important;
}

#modal-login {
  .modal-header {
    border-bottom: 1px solid #3e3e3e;
  }

  .modal-body {
    padding: 61px 27px 73px 27px;
  }

  .modal-content {
    color: white;
    background-color: map_get($colors, theme-light-dark);
  }

  h3 {
    color: map_get($colors, theme-secondary);
  }

  a {
    color: map_get($colors, theme-secondary);
  }

  input {
    background: transparent;
    height: 60px;
    border: 1px solid #7b7b7b;
    color: #e0e0e0;
  }


  .login-footer {
    margin-top: 20px;
  }

}


#modal-sign-up {
  .sign-up-content {
    padding: 45px 0px 30px 20px;
  }

  .modal-header {
    border-bottom: 1px solid #3e3e3e;
  }

  .terms {
    font-size: 12px;
  }

  .benefits {
    p {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 18px;


      i {
        font-size: 28px;
        margin-left: 2px;
      }
    }
  }

  .modal-content {
    color: white;
    background-color: map_get($colors, theme-light-dark);
  }

  h1, h2, h3, h4 {
    color: map_get($colors, theme-secondary);

    margin-bottom: 20px;
  }

  a {
    color: map_get($colors, theme-secondary);
  }

  input {
    background: transparent;
    height: 60px;
    border: 1px solid #7b7b7b;
    color: #e0e0e0;
  }

  .btn-full {
    background-color: map_get($colors, theme-secondary) !important;
    border: none;
    height: 60px;
  }

  .login-footer {
    margin-top: 20px;


  }

}


.form-wizard {
  margin-top: 50px !important;

  border: 1px solid transparent !important;

  .title {
    h1 {
      font-weight: 300;
    }


    h2 {
      font-weight: 300;
    }

    hr {
      background: #3e4246;
    }

    h5 {
      margin-top: 30px;
      font-weight: 300;
    }

  }


  .title {
    font-weight: 300;
  }

  .plans {
    margin-top: 30px;

    .card.active {
      background: map_get($colors, theme-secondary);

      i {
        color: white;
      }

      .credits {
        color: map_get($colors, theme-dark);
      }

      button {
        background: map_get($colors, theme-dark);
      }

    }

    .card {
      box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
      text-align: center;

      background: map_get($colors, theme-dark);

      .card-header {
        padding: 15px 0 0 0 !important;
      }

      .bonus {
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 33px;

        span {
          display: block;
          font-size: 12px;
          text-transform: uppercase;
        }
      }


      .credits {
        padding-top: 40px;
        color: map_get($colors, theme-secondary);
        line-height: 18px;
        font-size: 55px;
        font-weight: 700;

        span {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 12px;
        }
      }

      .price {
        font-size: 12px;
        margin-bottom: 40px;
      }


      button {
        border: none;
        height: 50px;
        background-color: map_get($colors, theme-secondary);
      }

    }


  }

  .nav-tabs {
    border-bottom: 1px solid #3e4246 !important;

    li.done {
      a {
        background: #494d56 !important;
        color: #bbb !important;

        &:after {
          background: transparent !important;
          border-left: 30px solid #494d56 !important;
        }
      }
    }
  }

  .step-anchor {
    background: map_get($colors, theme-light-dark) !important;

    li {
      a {
        background: transparent !important;
        padding: 15px 14px 15px 45px !important;


        &:after {
          border-left: 30px solid map_get($colors, theme-light-dark) !important;
        }

        &:before {
          border-left: 30px solid #3e4246 !important;
        }
      }
    }

    .active {
      a {
        background: map_get($colors, theme-secondary) !important;
        color: white !important;

        &:after {
          border-left: 30px solid map_get($colors, theme-secondary) !important;
        }
      }
    }
  }


  .step-content {
    background: map_get($colors, theme-light-dark) !important;
    padding: 30px !important;

    input {
      background: transparent;
      height: 60px;
      border: 1px solid #7b7b7b;
      color: #e0e0e0;
    }

    select {
      background: transparent;
      height: 60px;
      border: 1px solid #7b7b7b;
      color: #e0e0e0;
    }

    input[type=radio] {
      background: transparent;
      height: 18px;
      color: #e0e0e0;
    }

  }

  .sw-toolbar {
    padding: 20px 20px 20px 0;
    background: map_get($colors, theme-light-dark) !important;
    border-top: 1px solid #3e4246;

    .btn {
      height: 60px;
    }
  }


  h2 {
    font-weight: 300;
    margin-bottom: 20px;
  }

  hr {
    background: #3e4246;
  }

  h5 {
    margin-top: 30px;
    font-weight: 300;
  }

  .card-container {
    small {
      font-weight: 100;
    }
  }

  .account-model-type {

    i {
      color: map_get($colors, theme-secondary);
      font-size: 70px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      margin-bottom: 5px;
    }

    button {
      margin-top: 10px;
    }


  }


}


/**
FOOTER STYLE
 */

footer {
  color: rgba(255, 255, 255, 0.7);
  background: map_get($colors, theme-light-dark);

  //.sidemenu-footer{
  //  padding-left: 300px;
  //}

  .border-right {
    border-right: 1px solid #404650 !important;
  }

  .row {
    padding: 40px 20px 0px 20px;
    margin: 0;
  }

  .site-info {
    p {
      font-size: 15px;
      margin-top: 40px;
    }
  }


  h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      a {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .language {
    ul {
      display: inline-block;
      margin-right: 30px;
    }
  }

}

.full-footer {
  margin-top: 40px;
  padding: 15px 0 15px 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  text-align: center;
  background: map_get($colors, theme-dark);
}


/**
SIDEBAR MENU STYLES
 */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;

  .sidebar-header {
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 5px;
  }
}

#content {
  width: 100%;
}

.toggle-sidebar {
  float: left;
}

#sidebar {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  margin-left: -300px;
  transition: all 0.3s;

  ul {
    padding: 0 !important;

    li {
      list-style: none;
      padding: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, .1);

      a {
        color: rgba(255, 255, 255, .6);
        width: 100%;
        font-size: 12px;
      }
    }
  }
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.sidebar-fixed {
  position: relative;
  height: 100vh !important;
}

.sidebar-fixed {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35) !important;
}


#sidebar.active {
  margin-left: 0;
}


#modal-gallery {
  img {
    width: 100%;
  }

  .modal-content {
    i {
      font-size: 50px;
      color: #848484;
    }
  }
}


#messages {
  margin-top: 40px;

  .mesgs {
    background: map_get($colors, theme-light-dark);
    float: left;
    padding: 30px 15px 7px 25px;
    width: 60%;
  }

  .active_chat {
    p {
      color: white !important;
    }
  }

  .sent_msg {
    p {
      background: map_get($colors, theme-secondary);
      border-radius: 3px;
      font-size: 14px;
      margin: 0;
      color: #fff;
      padding: 5px 10px 5px 12px;
      width: 100%;
    }
  }

  img {
    max-width: 100%;
  }

  .inbox_people {
    background: map_get($colors, theme-light-dark) none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #3e4246;
  }

  .inbox_msg {
    clear: both;
    overflow: hidden;
  }

  .top_spac {
    margin: 20px 0 0;
  }


  .recent_heading {
    float: left;
    width: 40%;
  }

  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
  }

  .headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #3e4246;
  }

  .recent_heading h4 {
    color: map_get($colors, theme-secondary);
    font-size: 21px;
    margin: auto;
  }

  .srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
    color: white;
  }

  .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
  }

  .srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
  }

  .chat_ib h5 {
    font-size: 15px;
    color: white;
    margin: 0 0 8px 0;
  }

  .chat_ib h5 span {
    font-size: 13px;
    float: right;
  }

  .chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
  }

  .chat_img {
    float: left;
    width: 11%;
  }

  .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }

  .chat_people {
    overflow: hidden;
    clear: both;
  }

  .chat_list {
    border-bottom: 1px solid #3e4246;
    margin: 0;
    padding: 18px 16px 10px;

    &:hover {
      cursor: pointer;

      background: map_get($colors, theme-secondary);

      p {
        color: white;
      }

    }

  }

  .inbox_chat {
    height: 550px;
    overflow-y: scroll;
  }

  .active_chat {
    background: map_get($colors, theme-secondary);
  }

  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }

  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }

  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }

  .received_withd_msg {
    width: 57%;
  }

  .outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
  }

  .sent_msg {
    float: right;
    width: 46%;
  }

  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: white;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
  }

  .msg_send_btn {
    background: map_get($colors, theme-secondary) none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }

  .messaging {
    padding: 0 0 50px 0;
  }

  .msg_history {
    height: 516px;
    overflow-y: auto;
  }
}


.sidebar-profile{
  text-align: center;
  .profile-image{
    display: inline-block;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
  }

  p.name{
    font-size: 20px;
    color: map_get($colors, theme-secondary);
    line-height:1px;
    margin-top: 20px;
  }

  p.description{
    line-height:3px;
    color: white;
    font-size: 12px;
  }

}
#model{




}



