<div class="row content text-white" id="preferences" style="width: 100%">
    <div class="container-fluid">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-white-50 active" data-toggle="tab"
                   href="#total-content">Introdução</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white-50" data-toggle="tab" href="#free-content">O que gosta de fazer</a>
            </li>
        </ul>


        <div class="tab-content" id="tab-content-body">
            <div class="tab-pane fade show active" id="total-content" role="tabpanel"
                 aria-labelledby="home-tab">

                <p>Apresente-se a seus visitantes, pois as informações fornecidas aparecerão em seu canal. Torne sua página pessoal e única e promova-se no Liveextasy.com.</p>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Sobre Mim</label>
                        <div class="col-sm-10">
                              <textarea rows="8" name="">
                            </textarea>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">O que eu gosto mais</label>
                        <div class="col-sm-10">
                            <textarea rows="8" name="">
                            </textarea>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">O que eu não gosto</label>
                        <div class="col-sm-10">
                           <textarea rows="8" name="">
                            </textarea>
                        </div>
                    </div>
                    <hr>

                    <hr>

                    <div class="form-group btn-container">
                        <button class="btn btn-full" type="submit">Salvar</button>
                    </div>

                </form>


            </div>
            <div class="tab-pane fade" id="free-content" role="tabpanel"
                 aria-labelledby="profile-tab">
                <p>
                    Aqui você pode selecionar o que você está disposto a fazer em um particular. Dessa forma, os membros podem procurar você pelos serviços que você fornece e saberão o que esperar. Note que você deve estar pronto para fornecer o que você concordou. Se você não estiver com disposição, você pode simplesmente ficar off-line, alterar as seleções e voltar a ficar on-line novamente.
                </p>

                <form>
                    <div class="form-group row">
                        <label for="alcunha" class="col-sm-2 col-form-label">Aparência</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="alcunha" value="jubilao">
                        </div>
                    </div>

                    <hr>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Sexo</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                       id="inlineRadio1" value="Masculino" checked>
                                <label class="form-check-label" for="inlineRadio1">Masculino</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                       id="inlineRadio2" value="Feminino">
                                <label class="form-check-label" for="inlineRadio2">Feminino</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                       id="inlineRadio3" value="Outros">
                                <label class="form-check-label" for="inlineRadio3">Outros</label>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="age" class="col-sm-2 col-form-label">Idade</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="age" value="21">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="address" class="col-sm-2 col-form-label">Endereço</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address"
                                   value="QS 106 conjunt 3 Bloco 02 apt 301">
                        </div>
                    </div>
                    <hr>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Interessado em</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexuality"
                                       id="heterosexual" value="heterosexual" checked>
                                <label class="form-check-label" for="heterosexual">Heterosexual</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexuality"
                                       id="homosexual" value="homosexual">
                                <label class="form-check-label" for="homosexual">Homosexual</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexuality" id="bisexual"
                                       value="bisexual">
                                <label class="form-check-label" for="bisexual">Bisexual</label>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="speciality" class="col-sm-2 col-form-label">Especialidade</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="speciality"
                                   value="Partir corações das novinhas / conquistar as varoa">
                        </div>
                    </div>
                    <hr>


                    <div class="form-group row">
                        <label for="excites" class="col-sm-2 col-form-label">O que me excita</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="excites"
                                   value="Varoas de vestido até o joelho">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="dont_like" class="col-sm-2 col-form-label">O que não gosto</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="dont_like" value="Piriguetes">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="professional" class="col-sm-2 col-form-label">O que faço pra
                            viver</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="professional" value="Programa(s)">
                        </div>
                    </div>
                    <hr>


                    <div class="form-group row">
                        <label for="hobbies" class="col-sm-2 col-form-label">O que faço pra me
                            divertir</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="hobbies" value="Jogo pokemon GO">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="special" class="col-sm-2 col-form-label">O que me faz sentir
                            especial</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="special"
                                   value="Refrigerante de Laranja">
                        </div>
                    </div>
                    <hr>


                    <div class="form-group btn-container">
                        <button class="btn btn-full" type="submit">Salvar</button>
                    </div>
                </form>


            </div>

        </div>


    </div>
</div>