<div class="row content text-white" id="preferences" style="width: 100%">
    <div class="container-fluid">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-white-50 active" data-toggle="tab"
                   href="#total-content">Home</a>
            </li>
        </ul>


        <div class="tab-content" id="tab-content-body">
            <div class="tab-pane fade show active" id="total-content" role="tabpanel"
                 aria-labelledby="home-tab">

                <p>Apresente-se a seus visitantes, pois as informações fornecidas aparecerão em seu canal. Torne sua página pessoal e única e promova-se no Liveextasy.com.</p>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Sobre Mim</label>
                        <div class="col-sm-10">
                              <textarea rows="8" name="">
                            </textarea>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">O que eu gosto mais</label>
                        <div class="col-sm-10">
                            <textarea rows="8" name="">
                            </textarea>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">O que eu não gosto</label>
                        <div class="col-sm-10">
                           <textarea rows="8" name="">
                            </textarea>
                        </div>
                    </div>
                    <hr>

                    <hr>

                    <div class="form-group btn-container">
                        <button class="btn btn-full" type="submit">Salvar</button>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>