<div class="row content text-white" id="preferences" style="width: 100%">
    <div class="container-fluid">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link text-white-50 active" data-toggle="tab"
                   href="#total-content">Definições da Conta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white-50" data-toggle="tab" href="#free-content">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white-50" data-toggle="tab" href="#premium-content">Privacidade</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white-50" data-toggle="tab" href="#invoices">Faturas</a>
            </li>
        </ul>


        <div class="tab-content" id="tab-content-body">
            <div class="tab-pane fade show active" id="total-content" role="tabpanel"
                 aria-labelledby="home-tab">

                <h3>Definições da Conta</h3>

                <form>
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">Usuario</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" value="jubiloso">
                        </div>
                    </div>

                    <hr>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="staticEmail"
                                   value="jubilus@gmail.com">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword"
                                   placeholder="Senha" value="*****">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Notificações</label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label class="custom-form-check">
                                    Notificações de Modelos Favoritas
                                    <br/>
                                    <small>Receba notificações no navegador quando a sua modelo favorita
                                        estiver online.
                                    </small>

                                    <input class="form-check-input" type="checkbox" id="favorite-model"
                                           checked>

                                    <span class="checkmark"></span>
                                </label>

                                <label class="custom-form-check">
                                    E-mails do Suporte
                                    <br/>
                                    <small>Receba uma notificação de e-mail do Suporter quando tiver uma
                                        nova mensagem
                                    </small>

                                    <input class="form-check-input" type="checkbox" id="suporte-mail">

                                    <span class="checkmark"></span>
                                </label>


                                <label class="custom-form-check">
                                    E-mails das Modelos
                                    <br>
                                    <small>Receba notificações por e-mail de Modelos quando recebe uma
                                        nova mensagem
                                    </small>

                                    <input class="form-check-input" type="checkbox" id="model-message">

                                    <span class="checkmark"></span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Definir nivel de privacidade</label>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios"
                                       id="gridRadios1" value="opcao1">
                                <label class="form-check-label" for="gridRadios1">
                                    Todos podem ver o meu perfil
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios"
                                       id="gridRadios2" value="opcao2" checked>
                                <label class="form-check-label" for="gridRadios2">
                                    Apenas com quem eu conversei em privado.
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios"
                                       id="gridRadios3" value="opcao3">
                                <label class="form-check-label" for="gridRadios3">
                                    Manter o meu perfil privado
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group btn-container">
                        <button class="btn btn-full" type="submit">Salvar</button>
                    </div>

                </form>


            </div>
            <div class="tab-pane fade" id="free-content" role="tabpanel"
                 aria-labelledby="profile-tab">
                <h3>Meu Perfil</h3>

                <form>
                    <div class="form-group row">
                        <label for="alcunha" class="col-sm-2 col-form-label">Apelido</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="alcunha" value="jubilao">
                        </div>
                    </div>

                    <hr>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Sexo</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                       id="inlineRadio1" value="Masculino" checked>
                                <label class="form-check-label" for="inlineRadio1">Masculino</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                       id="inlineRadio2" value="Feminino">
                                <label class="form-check-label" for="inlineRadio2">Feminino</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                       id="inlineRadio3" value="Outros">
                                <label class="form-check-label" for="inlineRadio3">Outros</label>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="age" class="col-sm-2 col-form-label">Idade</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="age" value="21">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="address" class="col-sm-2 col-form-label">Endereço</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address"
                                   value="QS 106 conjunt 3 Bloco 02 apt 301">
                        </div>
                    </div>
                    <hr>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Interessado em</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexuality"
                                       id="heterosexual" value="heterosexual" checked>
                                <label class="form-check-label" for="heterosexual">Heterosexual</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexuality"
                                       id="homosexual" value="homosexual">
                                <label class="form-check-label" for="homosexual">Homosexual</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexuality" id="bisexual"
                                       value="bisexual">
                                <label class="form-check-label" for="bisexual">Bisexual</label>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="speciality" class="col-sm-2 col-form-label">Especialidade</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="speciality"
                                   value="Partir corações das novinhas / conquistar as varoa">
                        </div>
                    </div>
                    <hr>


                    <div class="form-group row">
                        <label for="excites" class="col-sm-2 col-form-label">O que me excita</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="excites"
                                   value="Varoas de vestido até o joelho">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="dont_like" class="col-sm-2 col-form-label">O que não gosto</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="dont_like" value="Piriguetes">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="professional" class="col-sm-2 col-form-label">O que faço pra
                            viver</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="professional" value="Programa(s)">
                        </div>
                    </div>
                    <hr>


                    <div class="form-group row">
                        <label for="hobbies" class="col-sm-2 col-form-label">O que faço pra me
                            divertir</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="hobbies" value="Jogo pokemon GO">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label for="special" class="col-sm-2 col-form-label">O que me faz sentir
                            especial</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="special"
                                   value="Refrigerante de Laranja">
                        </div>
                    </div>
                    <hr>


                    <div class="form-group btn-container">
                        <button class="btn btn-full" type="submit">Salvar</button>
                    </div>
                </form>


            </div>
            <div class="tab-pane fade" id="premium-content" role="tabpanel"
                 aria-labelledby="contact-tab">

                <h3>Configurações de Consentimento</h3>

                <form>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <label class="custom-form-check">
                                    Conteúdo Personalizado
                                    <br/>
                                    <small>Isso nos permite sugerir os melhores modelos ao seu gosto, com
                                        base no seu comportamento de navegação. Se você quiser revogá-lo,
                                        não poderemos fornecer a melhor experiência.
                                    </small>

                                    <input class="form-check-input" type="checkbox" id="custom-content"
                                           checked>

                                    <span class="checkmark"></span>
                                </label>

                                <label class="custom-form-check">
                                    Marketing Personalizado
                                    <br/>
                                    <small>Precisamos disto para enviar-lhe e-mails ocasionalmente sobre os
                                        novos recursos, promoções em vigor e novas oportunidades quentes no
                                        nosso website, baseado nos seus interesses. Se pretender que
                                        paremos, pode perder oportunidades! Para saber mais sobre isto,
                                    </small>

                                    <input class="form-check-input" type="checkbox" id="custom-marketing">

                                    <span class="checkmark"></span>
                                </label>

                                <label class="custom-form-check">
                                    Recolha de Dados Sensiveis
                                    <br/>
                                    <small>Apenas ao recolher os seus interesses sexuais, como as categorias
                                        que visita, podemos fornecer-lhe os nossos serviços. Pode perder
                                        créditos, favoritos e mais na sua conta se revogar este
                                        consentimento.
                                    </small>

                                    <input class="form-check-input" type="checkbox" id="data-get">

                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group btn-container">
                        <button class="btn btn-full" type="submit">Salvar</button>
                    </div>
                </form>
            </div>


            <div class="tab-pane fade" id="invoices" role="tabpanel"
                 aria-labelledby="contact-tab">
                <h3>Faturas</h3>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Valor</th>
                        <th>Data da Transação</th>
                        <th>Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>R$ 200,00</td>
                        <td>10/10/2019</td>
                        <td>Pago</td>
                    </tr>

                    <tr>
                        <td>R$ 200,00</td>
                        <td>10/10/2019</td>
                        <td>Recusada</td>
                    </tr>

                    <tr>
                        <td>R$ 200,00</td>
                        <td>10/08/2019</td>
                        <td>Pago</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


    </div>
</div>